<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
<strong>Comments:</strong></br>
  <% @article.comments.each do |comment| %>
    <%= comment.text %> </br>
  <% end %>
</p>

<%= link_to 'Add comment', new_article_comment_path(@article) %> |
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
